html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
}

body {
  background: url("../images/starfield.png") bottom center;
  background-size: cover;
}

.text {
  text-align: center;
  text-shadow: 1px 1px 5px #fff;
}

.btn {
  border-width: 2px;
  border-style: solid;
  border-color: #b4fff4;
  background: none;
  color: #b4fff4;
  text-shadow: 1px 1px 5px #b4fff4;
}
.height-win-full {
  height: 900px;
}

.h-w-1 {
  height: 100%;
  vertical-align: center;
}

.icon {
  background-image: url("../images/rocket.svg")
}
